.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  padding: 0 10px;
  background-color: #336699;
  &__logo {
    font-size: 30px;
    color: white;
  }
}

.main {
  padding: 0 20px;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  // .card__header
  &__header {
  }
  // .card__figure
  &__figure {
  }
  // .card__image
  &__image {
    height: 200px;
    width: 250px;
    margin: 0 auto;
    object-fit: contain;
  }
  // .card__body
  &__body {
    flex-grow: 1;
  }
  // .card__title
  &__title {
  }
  // .card__subtitle
  &__subtitle {
  }
  // .card__copy
  &__copy {
  }
  // .card__footer
  &__footer {
  }
  // .card__actions
  &__actions {
  }
}
.button {
}
