html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  padding: 0 10px;
  background-color: #336699;
  &__logo {
    font-size: 30px;
    color: white;
  }
}

.main {
  padding: 0 20px;
  flex: 1 1 auto;
}

//===CARDS==============================================================
.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  // .card__header
  &__header {
  }
  // .card__figure
  &__figure {
  }
  // .card__image
  &__image {
    height: 200px;
    width: 250px;
    margin: 0 auto;
    object-fit: contain;
  }
  // .card__body
  &__body {
    flex-grow: 1;
  }
  // .card__title
  &__title {
  }
  // .card__subtitle
  &__subtitle {
  }
  // .card__copy
  &__copy {
    word-wrap: break-word;
  }
  // .card__footer
  &__footer {
  }
  // .card__actions
  &__actions {
  }
}

//===PRELOADER==============================================================
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded {
  display: none;
}

//===CART ICON==============================================================
.cart {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  background-color: lightblue;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-image {
  width: 40px;
  height: 40px;
  position: relative;
}

.cart-quantity {
  position: absolute;
  top: 0;
  right: 2px;
  color: black;
}

@media (min-width: 769px) {
  .cart {
    top: 3.5rem;
    bottom: unset;
  }

  .cart-image {
    width: 50px;
    height: 50px;
  }
}

//===MODAL==============================================================
.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .modal-content {
    padding: 20px 15px 20px 15px;
  }
}

.modal .close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 10px;

  /* needs to look OK with or without scrollbar */
  right: 20px;

  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 4px;
}

//===SHOPPING LIST IN CART==============================================================
.shopping-list {
  // .shopping-list__header
  &__header {
    margin-bottom: 30px;
  }
  // .shopping-list__row
  &__row {
  }
  // .shopping-list__item
  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 20px;
  }
  // .shopping-list__name
  &__name {
    flex: 0 1 45%;
    border-bottom: 1px solid lightgray;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
  // .shopping-list__price
  &__price {
    flex: 0 1 15%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }
  // .shopping-list__quantity
  &__quantity {
    flex: 0 1 25%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }
  &__cost {
    flex: 0 1 15%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }
  &__footer {
    display: flex;
  }

  &__total {
    flex: 0 0 40%;
    font-weight: 700;
    font-size: 16px;
  }
  &__buy {
    margin-left: 20px;
    flex: 1 1 30%;
    background-color: green;
  }
  &__clear {
    margin-left: 20px;
    flex: 1 1 30%;
    background-color: gray;
  }
}

//===BUTTONS==============================================================
.btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 5px;
}

.plus,
.minus {
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 425px) {
  .plus,
  .minus {
    display: block;
  }
}

//===TOAST==============================================================
#toast {
  display: none; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the toast */
  bottom: 30px; /* 30px from the bottom */
  transform: translateX(-50%);
  animation: show 500ms ease-in-out;
}

/* Animations to fade the toast in and out */
@keyframes show {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

//===FOOTER==============================================================
.footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #336699;
  // .footer__list
  &__list {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  // .footer__item
  &__item {
    flex: 0 0 33.333%;
    font-size: 20px;
    color: #fff;
  }
}
.link {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
.arrow-icon {
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    border: 2px solid #fff;
    border-radius: 50%;
  }
}
